<%- include('../../includes/navbar.ejs',{page: 'aboutus'}); %>
<div class="bg-light">
    <div class="container">
        <div class="row" style="padding-top: 50px">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">Let us introduce you our developer team</p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-2">
                <div class="bg-white rounded shadow-sm px-4 pd100">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                    <h5 class="mb-0"><b>Manuella Nevoresky</b></h5>
                    <span class="small text-uppercase text-muted">CEO - Co Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-2">
                <div class="bg-white rounded shadow-sm px-4 pd100">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                    <h5 class="mb-0"><b>Samuel Hardy</b></h5>
                    <span class="small text-uppercase text-muted">CTO - Co Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-2">
                <div class="bg-white rounded shadow-sm px-4 pd100">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                    <h5 class="mb-0"><b>Tom Sunderland</b></h5>
                    <span class="small text-uppercase text-muted">COO - Co Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-2">
                <div class="bg-white rounded shadow-sm px-4 pd100">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                    <h5 class="mb-0"><b>John Tarly</b></h5>
                    <span class="small text-uppercase text-muted">CFO - Co Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->
        </div>
    </div>
</div>
