<%- include('../../includes/navbar.ejs', { page : 'home'}) %>
<div class="bg container-fluid">
    <div class="row">
        <div class="col-md-12" style="margin-top: 12%">
            <center>
                <h1 class="h1-index">PLAY TRADITIONAL GAME</h1>
                <h4 class="h4-index">Experience new traditional game play</h4>
                <a href="/games" class="btn btn-warning btn-lg button-play" style="margin-top: 30px">PLAY NOW</a>
            </center>
        </div>
    </div>
</div>
