<style>
    body,
    html {
        height: unset;
    }
    body {
        /* The image used */
        background-image: url("images/assets/requirements.png");
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 22em 0em 16em 13em #000;
        /* padding-bottom: 150px;*/
    }
</style>
<%- include('../../includes/navbar.ejs',{page: 'requirements'}); %>
<div class="container-fluid">
    <div class="row row-title">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h1 class="h1-subs h1-title">SYSTEM REQUIREMENTS</h1>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4 class="h4-subs" style="margin-top: 10px">Can My Computer Run This Game?</h4>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-md-6">
            <div class="row" style="margin-top: 25px">
                <div class="col-md-6" style="border-color: grey; border-style: solid; border-width: 1px">
                    <b style="color: goldenrod">OS:</b>
                    <p>Windows 7 64-bit only <br />(No DSK support at this time)</p>
                </div>
                <div class="col-md-6" style="border-color: grey; border-style: solid; border-width: 1px">
                    <b style="color: goldenrod">PROCESSOR:</b>
                    <p>Intel Core 2 Duo @ 2.4 GHZ or <br />AMD Athlon X2 @ 2.8 GHZ</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border-color: grey; border-style: solid; border-width: 1px">
                    <b style="color: goldenrod">MEMORY:</b>
                    <p>4 GB RAM</p>
                </div>
                <div class="col-md-6" style="border-color: grey; border-style: solid; border-width: 1px">
                    <b style="color: goldenrod">STORAGE:</b>
                    <p>8 GB available space</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="border-color: grey; border-style: solid; border-width: 1px">
                    <b style="color: goldenrod">GRAPHICS:</b>
                    <p>
                        NVIDIA GeForce GTX 660 2GB or<br />
                        AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
