<%- include('../../includes/navbar.ejs'); %>
<div class="app">
    <h1>Valorant Hero Maker!</h1>

    <label>Hero Name : </label>
    <input type="text" id="name" />
    <br />
    <label>Skill 1 Name</label>
    <input type="text" id="skill1" />
    <br />
    <label>Skill 2 Name</label>
    <input type="text" id="skill2" />
    <br />
    <label>Skill 3 Name</label>
    <input type="text" id="skill3" />
    <br />
    <label>Skill 4 Name</label>
    <input type="text" id="skill4" />
    <br />
    <label>Hero Type</label>
    <select id="type">
        <option>Sage</option>
        <option>Omen</option>
        <option>Sova</option>
        <option>Reyna</option>
    </select>
    <button id="create" onclick="create_hero()">Create</button>
</div>

<div class="result" id="result">
    <br />
</div>
