<%- include('../includes/navbar.ejs',{page: 'features'}); %>
<div class="bg-feature container-fluid">
    <div class="row">
        <div class="col-md-6 margintop"></div>
        <div class="col-md-6">
            <div class="comments">
                <p style="color: white">
                    <b style="color: goldenrod">TRADITIONAL GAMES</b><br />
                    If you miss your childhood we provide many traditional games here
                    <br /><br />
                </p>

                <p style="color: goldenrod"><b>Game Suit</b></p>

                <p style="color: goldenrod"><b>Valorant</b></p>

                <p style="color: goldenrod"><b>Many More</b></p>
            </div>
        </div>
    </div>
</div>
