<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../includes/style.ejs'); %>
    <title>Hall of Fame</title>
    <style>
        
    </style>

  </head>
  <body>
    <%- include('../includes/navbar.ejs'); %>
    <div class="bg-ranks">
      <section>
        <div class="container py-5 h-100">
          <div
            class="row d-flex justify-content-center h-100"
          >
            <div class="col-md-4 col-xl-4 col-sm-4">
              <div
                class="card text-white rank2"
              >
                <div class="card-body">
                  <i class="fas fa-quote-left fa-2x mb-4"></i>

                  <p class="lead">
                    One of my gaming highlight.
                  </p>

                  <hr />

                  <div class="d-flex justify-content-between">
                    <p class="mb-0">- Evan Lathi</p>
                    <h6 class="mb-0">
                      <span
                        class="badge rounded-pill"
                        style="background-color: rgba(0, 0, 0, 0.2)"
                        >765</span
                      >
                    
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xl-4 col-sm-4">
              <div
                class="card text-white rank1"
              >
                <div class="card-body">
                  <i class="fas fa-quote-left fa-2x mb-4"></i>

                  <p class="lead">
                    The next big thing in the world of streaming.
                  </p>

                  <hr />

                  <div class="d-flex justify-content-between">
                    <p class="mb-0">- Jada Griffin</p>
                    <h6 class="mb-0">
                      <span
                        class="badge rounded-pill"
                        style="background-color: rgba(0, 0, 0, 0.2)"
                        >891</span
                      >
                    
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xl-4 col-sm-4">
              <div
                class="card text-white rank3"
              >
                <div class="card-body">
                  <i class="fas fa-quote-left fa-2x mb-4"></i>

                  <p class="lead">
                    This is Wildly Entertaining.
                  </p>

                  <hr />

                  <div class="d-flex justify-content-between">
                    <p class="mb-0">- Aaron Williamss</p>
                    <h6 class="mb-0">
                      <span
                        class="badge rounded-pill"
                        style="background-color: rgba(0, 0, 0, 0.2)"
                        >698</span
                      >
                    
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%- include('../includes/script.ejs'); %>
  </body>
</html>
