<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <%- include('../includes/style.ejs'); %>
</head>
<style>
    .test{
        text-align: center;
        padding-left: 5% !important; 
        padding-right: 5% !important;
    }
    .test2{
        padding-top:5% !important; 
        padding-bottom: 5% !important;
    }
    .active{
        background-color: grey;
    }
    html,body{
        background-color:peru;
    }

    @media screen and (min-width: 768px) {
        .banner {
            width: 10px;
            padding: 48px !important;
            background-color: green;
            -ms-transform: rotate(-20deg); /* IE 9 */
            transform: rotate(-20deg);
        }
    }         

    @media screen and (max-width: 767px) {
        .banner{
            width: 10px;
            
            background-color: green;
            -ms-transform: rotate(-20deg); /* IE 9 */
            transform: rotate(-20deg);
        }
    }
</style>
<body>
    <%- include('../includes/navbar.ejs'); %>
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col p-3">
                <h3><a href="/" style="
                    vertical-align: text-top;
                    color: brown; text-decoration: none;"> &lt; </a>
                <b style="color: goldenrod;">ROCK PAPER SCISSOR </b></h3>
            </div>
        </div>
        <div class="row" >
            <div class="col-4 p-3 test" >
                <h3><b style="color:black">Player 1</b></h3>
            </div>
            <div class="col-4 p-3 test">
            </div>
            <div class="col-4 p-3 test">
                <h3><b style="color:black">COM</b></h3>
            </div>
        </div>
        <!-- Batu -->
        <div class="row" id="batu">
            <div class="col-4 p-3 test">
                <div class="test2" id="batu_player">

                </div>
            </div>
            <div class="col-4 p-3 test">
            </div>
            <div class="col-4 p-3 test" >
                <div class="test2" id="batu_cpu">

                </div>
                <!-- <img src="assets/batu.png" alt="Batu" style="width: 50px;"> -->
            </div>
        </div>
        <!-- Kertas -->
        <div class="row">
            <div class="col-4 p-3 test">
                <div class="test2" id="kertas_player">

                </div>
            </div>
            <div class="col-4 p-3 test" id="result">
                <h1 style="color:red"><b>VS</b></h1>
            </div>
            <div class="col-4 p-3 test">
                <div class="test2" id="kertas_cpu">

                </div>
            </div>
        </div>
        <!-- Gunting -->
        <div class="row">
            <div class="col-4 p-3 test">
                <div class="test2" id="gunting_player">

                </div>
            </div>
            <div class="col-4 p-3 test">
            </div>
            <div class="col-4 p-3 test">
                <div class="test2" id="gunting_cpu">

                </div>
             </div>
        </div>
        <!-- Refresh -->
        <div class="row">
            <div class="col-4 p-3 test">
                
            </div>
            <div class="col-4 p-3 test" id="refresh">
                <img src="images/assets/refresh.png" alt="refresh" style="width: 50px;">
            </div>
            <div class="col-4 p-3 test">
             </div>
        </div>
    </div>
    <%- include('../includes/script.ejs'); %>
</body>
</html>