<style>
    .center {
        
        justify-content: center;
        display: flex;
        margin-top: 250px;
    }
</style>
<div class="center">
    <h1 style="color:black"><%- message %></h1>
</div>
<script>
    setTimeout(function () {
        // after 2 seconds
        window.location = "/";
    }, 2000);
</script>
